<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <style>
        * {
            font-family: 'Spoqa Han Sans', sans-serif; 
        }
        
        html {
            font-size: 10px;
        }
        
        table {
            width: 100%;
        }
        
        th {
            text-align: left;
            font-weight: 100;
        }
        
        #header img {
            max-width: 120px;
        }
        
        #content {
            font-weight: 100;
            font-size: 30px;
        }
        
        #reason {
            font-size: 50px;
        }
        
        #name {
            font-size: 50px;
        }
        
        #footer {
            text-align: center;
        }
        
    </style>
  </head>
  <body>
    <div id="header">
        <table>
            <tr>
                <th><%= wicked_pdf_image_tag "dimigo_logo.png" %></th>
                <td><span>KDMHS<br><strong>Outing Application System</strong></span></td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="content">
        <table>
            <tr>
                <th>
                    <span id="no"><%= @apply.user.no %></span><br>
                    <span id="name"><%= @apply.user.name %></span>
                </th>
            </tr>
            <tr>
                <td id="reason"><%= @apply.reason %></td>
            </tr>
            <tr>
                <td><%= @apply.sch_start.strftime("%H") %></td>
            </tr>
            <tr>
                <td><%= @apply.sch_end.strftime("%H") %></td>
            </tr>
        </table>
    </div>
    <hr>
    <div id="footer">
        <strong>반드시 외출시간을 준수하시기 바랍니다. 미준수시 향후 외출에 제한을 받으실 수 있습니다.</strong>
    </div>
  </body>
</html>